<h1>Productos en Tiempo Real</h1>

<h3>Agregar Producto</h3>
<form id="productForm">
    <input type="text" id="title" placeholder="Título" required>
    <input type="text" id="description" placeholder="Descripción" required>
    <input type="number" id="price" placeholder="Precio" required>
    <input type="text" id="code" placeholder="Código" required>
    <input type="number" id="stock" placeholder="Stock" required>
    <input type="text" id="category" placeholder="Categoría" required>
    <button type="submit">Agregar</button>
</form>
<hr>

<ul id="productList"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>